<div class="leftF">
    <div class="containerBOX">
        <div style="text-align: center;">
        <h1 style="font-size: 5rem;text-align: center;">Sign up</h1>
        <br>
        <br>
        <mat-form-field appearance="outline" hideRequiredMarker style="width:10.75vw !important;">
            <mat-label>Fist Name</mat-label>
            <input matInput required id='firstN' [formControl]="Fname">
            <mat-error *ngIf="email.invalid">{{getErrorMessageFName()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:10.75vw !important;margin-left: 0.75vw;">
            <mat-label>Last Name (optional)</mat-label>
            <input matInput id='lastN'>
            
          </mat-form-field>
        <br>
         <mat-form-field appearance="outline" hideRequiredMarker style="width:21.5vw !important;">
            <mat-label>Email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required id='login'>
            <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width:10.75vw !important;margin-left: 0.75vw;">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" id="pass1" [formControl]="pass1">
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="email.invalid">{{getErrorMessagePass1()}}</mat-error>
          </mat-form-field>
          <mat-form-field color={{pass2Color}} appearance="outline" style="width:10.75vw !important;margin-left: 0.75vw;">
            <mat-label>Confirm your password</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" id="pass2" (change)="passCheck()">
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint style="color: red;">{{passErrorMessage}}</mat-hint>
          </mat-form-field>
        <div>
        <mat-checkbox color="primary" >Remember Me</mat-checkbox>
        <br>
        <br>
        
        <button mat-raised-button color="primary" style="width:21.5vw; height: 3.5rem;" ><p style="font-size: 1.2rem;" (click)="Register()">Sign up</p></button>
        <a routerLink="/login"><p>already have an account? Login instead...</p></a>
    </div>
</div>
</div>