<div >
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened={{opened}}>
        <div class="menu">
            <img src="./../../../assets/img/pp client-male.png"  width="180px" height="180px"/>
            <span><h2>{{user}}</h2>
            <h3>{{role}}</h3></span>
            <div class="menuELE"><button mat-raised-button color="primary" (click)="redirectDASH()" style="width: 14.5vw;height: 3vw;" >Dashboard</button></div>
            <button mat-button color="primary" (click)="redirectACC()" style="width: 14.5vw;height: 3vw;" >Profile</button>
            <button mat-button color="primary" (click)="redirectTICK()" style="width: 14.5vw;height: 3vw;" >Tickets</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-button isIconButton="true" color="primary" (click)="toggleSide()"><mat-icon>{{icon}}</mat-icon></button>
        <div class="content">


            <div class="containerBOX2">
                <div style="display: flex;justify-content: space-between;">
                    <div style="margin-left: 7vw;">
                        <img src="./../../../assets/img/open tikcet.png" width="180px" height="100px" />
                        <h1><img src="./../../../assets/img/red square.jpg" width="15px" height="15px"/>    Opne Tickets</h1>
                        <br>
                        <h1 style="margin-left: 3.3vw;">{{openTicketsCount}}</h1>
                    </div>
                    <div>
                        <img src="./../../../assets/img/closed ticket.png" width="180px" height="100px" />
                        <h1><img src="./../../../assets/img/green square.jpg" width="15px" height="15px"/>    Opne Tickets</h1>
                        <br>
                        <h1 style="margin-left: 3.3vw;">{{closedTicketsCount}}</h1>
                    </div>
                    <div id="divChart">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
                        <canvas id="pieChart" width="250" height="250"></canvas>
                    </div>
                </div>
            </div>
            <br>
            <div class="containerBOX2">
                <div><h1>Showing your recent tickets.</h1></div>
                <div *ngFor="let index of length">
                    <div class="containerBOX2" style="margin-top: 1%;">
                        <div style="display: flex;justify-content: space-between;">
                            <span style="text-align: center;"><div><b>Category</b></div>
                            <div>{{cat[index]}}</div></span>
                            <span style="text-align: center;min-width: 200px;"><div><b>Issue</b></div>
                            <div>{{desc[index]}}</div></span>
                            <div *ngIf="closed[index]; else elseBlock">
                                <button mat-raised-button color="warn" style="height: 38px;"  disabled ><p>closed</p></button>
                            </div>
                            <ng-template #elseBlock>
                                <button mat-raised-button color="primary" style="height: 38px;" (click)="reply(ticketIDS[index])" ><p>Reply</p></button>
                            </ng-template>
                        </div>
                    </div>                 
                </div>
            </div>




        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>