<div *ngIf="(notLoading$ | async) ; else loading">
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened={{opened}}>
        <div class="menu">
            <div *ngIf="role=='Client'"><img src="./../../../assets/img/pp client-male.png"  width="180px" height="180px"/></div>
            <div *ngIf="role=='Technicien'"><img src="./../../../assets/img/pp Technicien.png"  width="180px" height="180px"/></div>
            <span><h2>{{user}}</h2>
                <h3>{{role}}</h3></span>
            <div class="menuELE"><button mat-button color="primary" (click)="redirectDASH()" style="width: 14.5vw;height: 3vw;" >Dashboard</button></div>
            <button mat-button color="primary" (click)="redirectACC()" style="width: 14.5vw;height: 3vw;" >Profile</button>
            <button mat-raised-button color="primary" (click)="redirectTICK()" style="width: 14.5vw;height: 3vw;" >Tickets</button>
        </div>
        <div style="text-align: center; margin-top: 70%;">
            <p>Made with ❤ by</p>
            <p>Islem Bargaoui & Youssef Mrabet</p>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-button isIconButton="true" color="primary" (click)="toggleSide()"><mat-icon>{{icon}}</mat-icon></button>
        <div class="content">

            <div class="containerBOX2">
                <div *ngIf="isWrong">
                    <div style="border: 1px solid red;overflow: auto;border-radius: 15px;width: 15vw; margin-left: 38%;">
                      <p style="color:red;text-align: center;margin-top: 3%;">{{error}}</p>
                    </div>
                  </div><br>
                <div style="display: flex;justify-content: space-between;">
                    <mat-form-field appearance="outline" hideRequiredMarker style="width:45% !important;">
                        <mat-label>Issue Title</mat-label>
                        <input matInput placeholder="Issue title" required id='title' >
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width:45% !important;">
                        <mat-label>Category</mat-label>
                        <mat-select [(value)]="Category">
                            <div *ngFor="let index of length">
                                <mat-option value={{catIDS[index]}}>{{catNames[index]}}</mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" hideRequiredMarker style="width:100% !important;height: auto !important;">
                        <mat-label>Details</mat-label>
                        <textarea matInput placeholder="Details" required id='Desc' ></textarea>
                    </mat-form-field>
                </div>
                <div style="display: flex;justify-content: space-between;">
                    <div></div>
                    <div>
                        <button mat-raised-button color="primary" style="height: 38px;" ><p style="font-size: 1.2rem;" (click)="submit()">Submit</p></button>
                    </div>
                </div>
            </div>


        </div>
    </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<ng-template #loading style="background-color: white;">
    <app-page-not-found text1="Loading" text2="Please Wait..." [homeBTN]="false"></app-page-not-found>
  </ng-template>
  