<div *ngIf="(notLoading$ | async) ; else loading">
    <div >
        <mat-sidenav-container>
            <mat-sidenav mode="side" opened={{opened}}>
            <div class="menu">
              <div *ngIf="role=='Client'"><img src="./../../../assets/img/pp client-male.png"  width="180px" height="180px"/></div>
              <div *ngIf="role=='Technicien'"><img src="./../../../assets/img/pp Technicien.png"  width="180px" height="180px"/></div>
                <span><h2>{{user}}</h2>
                    <h3>{{role}}</h3></span>
                <div class="menuELE"><button mat-button color="primary" (click)="redirectDASH()" style="width: 14.5vw;height: 3vw;" >Dashboard</button></div>
                <button mat-button color="primary" (click)="redirectACC()" style="width: 14.5vw;height: 3vw;" >Profile</button>
                <button mat-raised-button color="primary" (click)="redirectTICK()" style="width: 14.5vw;height: 3vw;" >Tickets</button>
            </div>
            <div style="text-align: center; margin-top: 70%;">
              <p>Made with ❤ by</p>
              <p>Islem Bargaoui & Youssef Mrabet</p>
          </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <button mat-button isIconButton="true" color="primary" (click)="toggleSide()"><mat-icon>{{icon}}</mat-icon></button>
            <div class="content">
    
    
           <div  style="height: 87.5vh;">
            <div class="containerBOX2" style="width: 100%!important;">
                <div style="display: flex;justify-content: space-between;">
                    <span>
                        <h1>Issue: {{discussion[0].content}}</h1>
                    </span>
                </div>
            </div>
            <div class="containerBOX2" style="width: 100%!important;height: 60vh;margin-top: 10px;" id="chat">
                <div *ngFor="let m of discussion">
                    <div *ngIf="m.authorEmail==userMAIL; else elseBlock">
                        <div style="display: flex;justify-content: space-between;">
                            <div class="containerBOX" style="background-color: rgba(5, 75, 133, 0.8);">
                                <div style="color: white;">{{m.content}}</div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <div style="display: flex;justify-content: space-between;">
                            <div></div>
                            <div class="containerBOX">
                              {{m.content}}
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="containerBOX2" style="width: 100%!important ;margin-top: 10px;">
                <div style="display: flex;justify-content: space-between;"> 
                        <mat-form-field appearance="outline" style="width:99% !important;">
                            <mat-label>Reply</mat-label>
                            <input matInput placeholder="Reply" id='reply' [(ngModel)]="message" >
                        </mat-form-field>
                        <button mat-icon-button isIconButton="true" color="primary" style="height: 6vh;" (click)="HandleReply()"><mat-icon>send</mat-icon></button>
                </div>
            </div>
           </div>
    
                
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    </div>
</div>




<ng-template #loading>
   <app-page-not-found text1="{{text1}}" text2="{{text2}}" [homeBTN]="homeBTN"></app-page-not-found>
</ng-template>

