<div >
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened={{opened}}>
        <div class="menu">
            <div *ngIf="role=='Client'"><img src="./../../../assets/img/pp client-male.png"  width="180px" height="180px"/></div>
            <div *ngIf="role=='Technicien'"><img src="./../../../assets/img/pp Technicien.png"  width="180px" height="180px"/></div>
            <span><h2>{{user}}</h2>
                <h3>{{role}}</h3></span>
            <div class="menuELE"><button mat-button color="primary" (click)="redirectDASH()" style="width: 14.5vw;height: 3vw;" >Dashboard</button></div>
            <button mat-button color="primary" (click)="redirectACC()" style="width: 14.5vw;height: 3vw;" >Profile</button>
            <button mat-raised-button color="primary" (click)="redirectTICK()" style="width: 14.5vw;height: 3vw;" >Tickets</button>
        </div>
        <div style="text-align: center; margin-top: 70%;">
            <p>Made with ❤ by</p>
            <p>Islem Bargaoui & Youssef Mrabet</p>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-button isIconButton="true" color="primary" (click)="toggleSide()"><mat-icon>{{icon}}</mat-icon></button>
        <div class="content">




            <div class="containerBOX2">
                <div style="display: flex;justify-content: space-between;">
                    <div *ngIf="role=='Client'"><div><h1>Showing all your tickets.</h1></div></div>
                <div *ngIf="role=='Technicien'"><div><h1>Showing all tickets.</h1></div></div>
                    <div>
                        <div *ngIf="yes">
                            <button mat-raised-button color="primary" style="height: 38px;" ><p style="font-size: 1.2rem;" (click)="redirectCT()">Create Ticket</p></button>
                        </div>
                    </div>
                </div>
                <ng-template #loading>
                    <img src="../../../assets/img/loading.gif" width="80px" height="80px" style="margin-left: 50%;" />
                </ng-template>
                
                <div *ngIf="(notLoading$ | async) ; else loading">
                    <div *ngFor="let index of length">
                        <div class="containerBOX2" style="margin-top: 1%;">
                            <div style="display: flex;justify-content: space-between;">
                                <span style="text-align: center;"><div><b>Category</b></div>
                                <div>{{cat[index]}}</div></span>
                                <span style="text-align: center;min-width: 200px;"><div><b>Issue</b></div>
                                <div>{{desc[index]}}</div></span>
                                <div *ngIf="closed[index]; else elseBlock">
                                    <button mat-raised-button color="Basic" style="height: 38px;" (click)="reply(ticketIDS[index])"><p>Ticket is closed</p></button>
                                </div>
                                <ng-template #elseBlock>
                                    <span><button mat-raised-button color="primary" style="height: 38px;" (click)="reply(ticketIDS[index])" ><p>Reply</p></button>
                                        <button mat-raised-button color="warn" style="height: 38px;" (click)="close(ticketIDS[index])" ><p>Close</p></button></span>
                                </ng-template>
                            </div>
                        </div>                 
                    </div>
                </div>
            </div>




            
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>