<div >
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened={{opened}}>
        <div class="menu">
            <img src="./../../../assets/img/pp default.png"  width="180px" height="180px"/>
            <h2>{{user}}</h2>
            <div class="menuELE"><button mat-button color="primary" (click)="redirectDASH()" style="width: 14.5vw;height: 3vw;" >Dashboard</button></div>
            <button mat-button color="primary" (click)="redirectACC()" style="width: 14.5vw;height: 3vw;" >Profile</button>
            <button mat-raised-button color="primary" (click)="redirectTICK()" style="width: 14.5vw;height: 3vw;" >Tickets</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-button isIconButton="true" color="primary" (click)="toggleSide()"><mat-icon>{{icon}}</mat-icon></button>
        <div class="content">




            <p>Welcome <b>{{user}}</b> to your Tickets page.</p>




            
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>