<header style="display: flex;">
    <div class="logohead">
        <img src="/assets/img/logo.png" alt="logo" width="100" height="75">
    </div>
    
    <div style=" overflow: auto; padding: 0.5rem;margin-left: 5%;">

        <div class="navbtn">
               <app-matbutton text="Discover" color="primary" (click)="discover()"></app-matbutton>
        </div>

        <div class="navbtn" style="margin-left: 10vh;">
            <app-matbutton text="F&Q" color="primary" (click)="FQ()"></app-matbutton>
        </div>

        <div class="navbtn" style="position: absolute; right: 1.5rem;">
            <app-matbutton text="Login" color="primary" (click)="signin()"></app-matbutton>
        </div>

    </div>
</header>