<div class="leftF">
    <div class="containerBOX">
        <div style="text-align: center;">
        <h1 style="font-size: 5rem;text-align: center;">Sign in</h1>
        <br>
        <br>
         <mat-form-field appearance="outline" hideRequiredMarker style="width:21.5vw !important;">
            <mat-label>Email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required id='login'>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field appearance="outline" style="width:21.5vw !important;">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" id="pass">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        <br><div>
        <p><mat-checkbox color="primary" >Remember Me</mat-checkbox>                              Forgot password?</p>
        <br>
        <br>
        
        <button mat-raised-button color="primary" style="width:21.5vw; height: 3.5rem;" (click)="login()"><p style="font-size: 1.2rem;">Sign in</p></button>
        <a routerLink="/signup"><p>Don't have an account? Join us instead...</p></a>
    </div>
</div>
</div>